html, body, #root {
  height: 100vh !important;
  min-height: 100vh !important;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Supprime le scroll global de la fenêtre */
}


:root {
  --metro-red: #e63946;
  --metro-blue: #457b9d;
  --metro-green: #2a9d8f;
  --metro-yellow: #e9c46a;
  --metro-orange: #e66f0e;
  --bg-dark: #1a1a2e;
  --bg-card: #16213e;
  --text-light: #f4eeed;
  --accent: #f5f3f1;
  --noaccent : #2f522d;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
}

.navbar-brand {
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: var(--accent) !important;
}

.navbar-brand:hover {
 color:#6e8bc6;
}

.logout-btn{
  border-color: #ff4d4d ;
  color:#edf2f4 !important;
  background: transparent !important;
}
.logout-btn:hover{
  border-color: #ff4d4d ;
  color:#edf2f4 !important;
}

.card {
  background-color: var(--bg-card);
  border: 1px solid #2a2a4a;
  color: var(--text-light);
}

.footer{
  position: fixed;
  color: #ffffff !important;
  text-align: center;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.btn-metro {
  background-color: var(--accent);
  color: #1a1a2e;
  font-weight: 700;
  border: none;
}
.btn-metro:hover {
  background-color: #e08940;
  color: #1a1a2e;
}

/* Network map */
.network-map svg text {
  font-size: 11px;
  fill: #000000;
}

/* Timer bar */
.timer-bar-wrap {
  height: 12px;
  background: #2a2a4a;
  border-radius: 6px;
  overflow: hidden;
}
.timer-bar {
  height: 100%;
  border-radius: 6px;
  transition: width 1s linear, background-color 0.5s;
}

/* Coin counter */
.coin-badge {
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--noaccent);
}

/* Rankings */
.ranking-table th {
  color: var(--accent);
  border-color: #7b7b92;
}
.ranking-table td {
  border-color: #7b7b92;
}
.ranking-row-me {
  background: rgba(244, 162, 97, 0.12);
  font-weight: 700;
}

/* Segment list */
.segment-list {
  max-height: 340px;
  overflow-y: auto;
  background: #dfdfdf;
  border-radius: 8px;
  padding: 8px;
}
.segment-item {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 6px;
  transition: background 0.15s;
}
.segment-item:hover {
  background: #b6e8b1;
}
.segment-item.selected {
  background: rgba(244, 162, 97, 0.25);
  border-left: 3px solid var(--accent);
}
.segment-item.in-route {
  background: rgba(42, 157, 143, 0.25);
  border-left: 3px solid var(--metro-green);
}